/*Screen Size*/
@media screen and (max-width: 1920px) {
    .col-lg-6 {
        -webkit-box-flex: 0;
        flex: 0 0 35%;
        max-width: 40%;
    }
  }
@media screen and (max-width: 1560px) {
    .col-lg-6 {
        -webkit-box-flex: 0;
        flex: 0 0 33%;
        max-width: 33%;
    }
  }
@media screen and (min-width: 992px){
.col-lg-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    }
}
@media screen and (min-width: 768px){
.col-md-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    }
}
@media screen and (min-width: 1920px){
    .col-xl-4 {
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
        }
    }
@media screen and (min-width: 1200px){
.col-xl-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    }
}
@media screen and (min-width: 768px){
.col-md-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    }
}
@media screen and (min-width: 576px){
.col-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    }
}
@media  screen and (min-width: 1200px){
    .col-xl-3 {
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
        }
    }
    @media screen and  (min-width: 992px){
    .col-lg-4 {
        -webkit-box-flex: 0;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        }
    }
    @media screen and (min-width: 1560px) {
    .col-md-12    {
            flex: 0 0 25%;
            max-width: 52%;
        }    
    }
    @media screen and (min-width: 1920px) {
        .col-md-12    {
                flex: 0 0 30%;
                max-width: 50%;
            }    
        }
    .title h2 {
        position: relative;
        font-size: 45px;
        font-weight: 800;
        margin-bottom: 1rem;
    }
    .title {
        position: relative;
        text-align: center;
        margin-bottom: 40px;
    }
    .margins{
        padding-left: 130px;
        padding-right: 130px;
    }
    .title p {
        font-size: 18px;
        color: gray;
        font-weight: 300;
    }

    .wrapper {
        width: 100%;
        /* height: 300px; */
        background: gold;
    }
    
      /* background image for devices with 480px or below */
    @media only screen
      and (max-width: 575px) {
        .wrapper  {
          background-image: url("../Images/landing1.jpg");
          /* background-color: blue; */
          
        }
    }
    @media only screen
      and (min-width:576px) and (max-width: 800px) {
        .wrapper  {
          background-image: url("../Images/landing2.jpg");
          /* background-color: blue; */
          
        }
    }
    /* background image for devices with 481px or above */
    @media only screen
      and (min-width: 801px) {
        .wrapper  {
          background-image: url("../Images/landing.jpg")
                 /* background-color: red; */
        }
    }